    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #0783ff;
        color: white;
        font-weight: 600;
    }
    .logo{
        margin-left: 5px;
    }
    .home-page{
        color:white !important;
    }
    .spacer {
        flex: 0.2;
    }