// .footer {
//     position: absolute;
//     margin-top: 8px;
//     display: flex;
//     align-items: center;
//     line-height: 20px;
//     color:black;
//     bottom: 0;
//   }
  .footer {
    background-color: #0783ff;
    color: white;
    padding: 20px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: #0783ff;
    color: white;
    text-align: center;
    padding: 20px;
    /* Flexbox styles to center the footer */
    align-self: center;
    justify-self: center;
  }
.footer a {
    color:inherit;
  }