<div class="text-center">
  <h2 >Customers</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Customer Number</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers" (click)="selectCustomer(customer)" [class.selected]="selectedCustomer === customer">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.customerNumber }}</td>
        <td>{{ customer.created | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>

  <!-- <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="customerNumber">
      <th mat-header-cell *matHeaderCellDef>Customer number</th>
      <td mat-cell *matCellDef="let row">{{ row.customerNumber }}</td>
    </ng-container>
  
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let row">{{ row.created }}</td>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table> -->
</div>
