<div class="text-center">
  <h2 >Customers</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Customer Number</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers" (click)="selectCustomer(customer)" [class.selected]="selectedCustomer === customer">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.customerNumber }}</td>
        <td>{{ customer.created | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>
</div>
